[submodule "external/header/nob.h"]
	path = external/header/nob.h
	url = https://github.com/tsoding/nob.h
[submodule "external/lib/raylib"]
	path = external/lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/lib/raygui"]
	path = external/lib/raygui
	url = https://github.com/raysan5/raygui
